.chart {
  margin: 20px;
  padding: 20px;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.chartTitle{
    margin-bottom: 20px;
}